@import 'components/global';
@import 'components/mixin';
@import 'components/color';
@import 'components/font-family';
$bg:(
    negro-profundo:#0a0a0a,
    negro-brillante:#282c34
);

@mixin bg($color) {
    background-color: map-get($bg , $color );
}
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    @include bg(negro-profundo);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  //sm	640px	
  @media (min-width: 640px) {  }
  //md	768px	
@media (min-width: 768px) {  }
  //lg	1024px	
@media (min-width: 1024px) {  }
  //xl	1280px	
@media (min-width: 1280px) {  }
  //2xl	1536px	
@media (min-width: 1536px) {  }