@font-face {
    font-family: sfproheavy;
    src: url(../fonts/sfpro/SFProDisplay-Heavy-1.ttf);
}

@font-face {
    font-family: sfproregular;
    src: url(../fonts/sfpro/SFProDisplay-Regular.ttf);
}