@font-face {
  font-family: sfproheavy;
  src: url(../fonts/sfpro/SFProDisplay-Heavy-1.ttf);
}

@font-face {
  font-family: sfproregular;
  src: url(../fonts/sfpro/SFProDisplay-Regular.ttf);
}

* {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

*::after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

*::before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

*:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0a0a0a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sfproheavy;
  font-weight: 800;
  color: #f6f6f6;
}

a {
  font-family: sfproregular;
  text-decoration: none;
  color: #f6f6f6;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

img {
  pointer-events: none;
}

@font-face {
  font-family: sfproheavy;
  src: url(../fonts/sfpro/SFProDisplay-Heavy-1.ttf);
}

@font-face {
  font-family: sfproregular;
  src: url(../fonts/sfpro/SFProDisplay-Regular.ttf);
}

@font-face {
  font-family: sfproheavy;
  src: url(../fonts/sfpro/SFProDisplay-Heavy-1.ttf);
}

@font-face {
  font-family: sfproregular;
  src: url(../fonts/sfpro/SFProDisplay-Regular.ttf);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.desktop .brand .brand-logo {
  width: 150px;
  height: 150px;
}

.img--container {
  width: 250px;
  height: 250px;
}

.img--container .col--img {
  width: 250px;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu--section {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu--section .row--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu--section .row--menu .col--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  border-radius: 20px;
  background-color: #282c34;
  width: 450px;
  height: 500px;
}

.menu--section .row--menu .col--menu:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.menu--section .mas-menu {
  background-color: #61dafb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  font-size: 1.3rem;
}

.menu--section .mas-menu:hover {
  background-color: rgba(97, 218, 251, 0.9);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.footer {
  background-color: #282c34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

.footer .footer--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

.footer .footer--container .about--us {
  background-color: blue;
  width: 300px;
  height: auto;
  z-index: 1;
  padding: 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.footer .footer--container .about--us .about--container .about--img {
  width: 150px;
  height: 150px;
  margin: auto;
}

.footer .footer--container .about--us .about--container .about--img .footer--logo {
  width: 150px;
  height: 150px;
}

.footer .footer--container .about--us .about--container .about--desc {
  width: 300px;
  position: relative;
}

.footer .footer--container .about--us .about--container .about--desc h1 {
  background: #000;
}

.footer .footer--container .about--us .about--container .about--desc .desc-parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 300px;
  color: red;
}

.footer .footer--container .social--media {
  width: 300px;
  height: 300px;
  background-color: aqua;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer--container .social--media ul li {
  list-style: none;
}

.footer .footer--container .important-link {
  background-color: aquamarine;
  width: 300px;
  height: 300px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer--container .important-link ul li {
  list-style: none;
}
/*# sourceMappingURL=Main.css.map */